.group-information-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.group-information-header .avatar {
	width: 150px;
	height: 150px;
	line-height: 75px;
	font-size: 75px;
	font-weight: bold;
	border-radius: 100px;
	background: black;
	color: white;
	margin: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.group-information-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.group-information-container table {
	border-collapse: collapse;
	width: 100%;
}

.group-information-container td,
th {
	text-align: center;
	padding: 8px;
}

.group-information-container tr:nth-child(even) {
	background-color: #dddddd;
}
